.pad10{
    padding-left: 10%;
}

.birthday-flex{
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
}

.birthday-flex .day{
    width: 20%;
    min-width: 40px;
}

.birthday-flex .year{
    width: 25%;
    min-width: 60px;
}

.birthday-flex input, .birthday-flex select{
    padding: 5px;
}

.col-xs-5{
    min-width: 230px;
}

.upload-images img{
    margin: 10px
}

ul{
    list-style-type: none;
}

.del-link:hover{
    text-decoration: none;
}

.image-item {
    position: relative;
}

.image-item img{
    width: 200px;
}

.del-x{
    background-color: white;
    color: cadetblue;
    border: 2px solid cadetblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    
    
    position: absolute;
    left: 200px;
    top: 5px;
    padding-left: 5px;
}

.del-link{
    display: block;
    position: relative;
    top: -2px;
    text-decoration: none;
}

